.contacts-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:40px;
  width: 100%;
}

/* CSS transitions */

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

/* media queries */

@media (max-width:1600px){
  .contacts-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:1070px){
  .contacts-container{
    grid-template-columns: 1fr;
  }
}