.contacts-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:40px;
}

/* CSS transitions */

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
