.root{
    margin:0;
    box-sizing: border-box;
    background: #BB8FEE url('./assets/bg.png');
    background-size: cover;
    background-position: center;
    height:100vh;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    width:480px;
}

.form-container{
    padding:45px;
    border-radius: 12px;
    background-color: white;
}

.form-container h2{
    margin:0;
}