.navbar-custom{
display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
width: 100%;
}


.navbar-custom h1{
    margin: 0;
    font-size: 26px;
    color:white;
    font-weight: 600;
    letter-spacing: -1px;
}


.navbar-custom a{
    text-decoration: none;
}

.navbar-custom button{
    margin: 0;
    width: 115px;
    border: 2px solid #8F00B9;
    border-radius: 34px;
    padding:5px;
    background-color: transparent;
    transition: all 0.3s;

}

.navbar-custom button:hover{
    cursor: pointer;
    background-color: #8F00B9;
    transition: all .3s;
}

.navbar-custom button span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:#8F00B9;
    font-weight: 600;
    transition: all 0.3s;

}

.navbar-custom button:hover span{
    transition: all 0.3s;
    color:white;
}

.navbar-custom i{
font-size: 14px;
margin-left: 6px;
color: #8F00B9;
transition: color .3s;

}

.navbar-custom button:hover i{
transition: color .3s;
    color: #ffffff;

}