.root{
    margin:0;
    box-sizing: border-box;
    background: #BB8FEE url('./assets/bg.png');
    background-size: cover;
    background-position: center;
    height:100vh;
    display: flex;
    justify-content: center;
}

.container{
    width:70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:665px;
}

.content-left h1{
    font-size: 80px;
    line-height: 90px;
    margin:0;
    width: 600px;
    color:#262626;
}

.content-left p{
    width: 320px;
    font-size: 22px;
    margin:55px 0;
    color:#262626;
}

.content-left a{
    text-decoration: none;
}

.content-left button{
    width: 155px;
    border: none;
    border-radius: 34px;
    padding:7px;
    background-color: #8F00B9;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-left button:hover{
    cursor: pointer;
    
}

.content-left button span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:white;
    font-weight: 500;
}

.content-left i{
font-size: 14px;
margin-left: 10px;
color: white;
}

.content-right img{
width: 550px;
}